---
import CardCarouel from "../../../AppComponents/CardCarousel/view";
import MentorCard from "./MentorCard.astro";
import MentorCardMobile from "./MentorCardMobile.astro";
---

<div class="flex flex-col gap-10" id="method">
  <div class="flex flex-col gap-5">
    <p class="font-bold text-base md:text-xl text-primary">Mentor</p>
    <p class="font-bold text-2xl md:text-[34px] text-black">
      Dibimbing Langsung oleh Mentor Berpengalaman
    </p>
    <p class="text-grey800">
      Peserta akan dibimbing oleh praktisi UI UX Design yang memiliki pengalaman
      lebih dari 2 tahun dari berbagai top tech company di Indonesia.
    </p>
    <div class="hidden md:block">
      <CardCarouel itemsLength={5} client:load>
        <div
          style="min-width: calc((100% - 32px) * 1/3); max-width: calc((100% - 32px) * 1/3); width:fit-content;"
        >
          <MentorCard
            name="Arion Valentino"
            position="UX Designer at Jenius"
            description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
            imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
            linkedin=""
          />
        </div>

        <div
          style="min-width: calc((100% - 32px) * 1/3); max-width: calc((100% - 32px) * 1/3); width:fit-content;"
        >
          <MentorCard
            name="Arion Valentino"
            position="UX Designer at Jenius"
            description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
            imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
            linkedin=""
          />
        </div>

        <div
          style="min-width: calc((100% - 32px) * 1/3); max-width: calc((100% - 32px) * 1/3); width:fit-content;"
        >
          <MentorCard
            name="Arion Valentino"
            position="UX Designer at Jenius"
            description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
            imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
            linkedin=""
          />
        </div>

        <div
          style="min-width: calc((100% - 32px) * 1/3); max-width: calc((100% - 32px) * 1/3); width:fit-content;"
        >
          <MentorCard
            name="Arion Valentino"
            position="UX Designer at Jenius"
            description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
            imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
            linkedin=""
          />
        </div>
        <div
          style="min-width: calc((100% - 32px) * 1/3); max-width: calc((100% - 32px) * 1/3); width:fit-content;"
        >
          <MentorCard
            name="Arion Valentino"
            position="UX Designer at Jenius"
            description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
            imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
            linkedin=""
          />
        </div>
      </CardCarouel>
    </div>

    <div class="flex flex-row gap-5 md:hidden overflow-x-auto max-w-[calc(100vw_-_16px)]">
      <MentorCardMobile
        name="Arion Valentino"
        position="UX Designer at Jenius"
        description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
        imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
        linkedin=""
      />
      <MentorCardMobile
        name="Arion Valentino"
        position="UX Designer at Jenius"
        description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
        imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
        linkedin=""
      />
      <MentorCardMobile
        name="Arion Valentino"
        position="UX Designer at Jenius"
        description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
        imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
        linkedin=""
      />
      <MentorCardMobile
        name="Arion Valentino"
        position="UX Designer at Jenius"
        description="Ryan sudah berkarir lebih dari 4 tahun di bidang UI/UX Design. Saat ini Ryan bekerja di salah satu bank digital di Indonesia."
        imageUrl="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1658818024714-Denny_2022_-_Product_Manager__Kitabisa-removebg-preview.png.webp&w=3840&q=75"
        linkedin=""
      />
    </div>
  </div>
</div>
