---
---

<div class="flex flex-col gap-10" id="curriculum">
  <div class="flex flex-col gap-5">
    <p class="font-bold text-base md:text-xl text-primary">Kurikulum</p>
    <p class="font-bold text-2xl md:text-[34px] text-black">
      Materi yang Akan Kamu Pelajari
    </p>
    <p class="text-grey800">
      Kamu akan dibimbing bersama mentor kami dalam membuat aplikasi atau web
      yang mudah digunakan dan interaktif sesuai dengan kebutuhan pengguna mulai
      dari dasar.
    </p>

    <div
      id="accordion-collapse"
      data-accordion="collapse"
      class="flex flex-col gap-5"
    >
      <div class="flex flex-col border border-gray-200 rounded-xl">
        <h2 id="accordion-collapse-heading-1">
          <button
            type="button"
            class="flex items-center w-full gap-4 p-4 font-bold text-xl bg-white rounded-xl text-left text-grey800"
            data-accordion-target="#accordion-collapse-body-1"
            aria-expanded="true"
            aria-controls="accordion-collapse-body-1"
          >
            <svg
              data-accordion-icon
              class="w-6 h-6 rotate-180 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              ><path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path></svg
            >
            <span>Introduction</span>
          </button>
        </h2>
        <div
          id="accordion-collapse-body-1"
          class="hidden"
          aria-labelledby="accordion-collapse-heading-1"
        >
          <div class="px-4">
            <div class="border-b border-grey200"></div>
            <div class="flex flex-col gap-6 py-4">
              <div class="flex flex-col gap-2">
                <p class="font-bold text-black text-xl">
                  Introduction to UI/UX
                </p>
                <p class="text-grey800">
                  Mengenalkan tentang apa itu UI/UX, teori, kaidah dasar, dan
                  pentingnya UI/UX.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-5">
    <p class="font-bold text-2xl md:text-[34px] text-black">
      Tools Penunjang yang Akan Dipelajari
    </p>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
      <div class="p-4 border-2 rounded-xl flex flex-col items-center">
        <img
          src="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1655480460157-zOom.png.webp&w=3840&q=75"
          alt="tools"
          height="40px"
          width="100px"
        />
      </div>
      <div class="p-4 border-2 rounded-xl flex flex-col items-center">
        <img
          src="https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1655702739196-logo-dibimbing-lms.png.webp&w=3840&q=75"
          alt="tools"
          height="40px"
          width="100px"
        />
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-5">
    <p class="font-bold text-2xl md:text-[34px] text-black">Kenapa Pilih Dibimbing?</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
      <div class="flex flex-col">
        <div class="py-2 px-4 border-l-2 border-primary">
          <p class="font-bold text-xl text-grey900">Practice Makes Perfect!</p>
        </div>
        <p class="text-grey800 py-2 px-4">
          Di setiap pertemuan, kamu akan dilatih baik secara teori hingga
          praktik dengan bimbingan mentor selama kelas berlangsung.
        </p>
      </div>
      <div class="flex flex-col">
        <div class="py-2 px-4 border-l-2 border-primary">
          <p class="font-bold text-xl text-grey900">Practice Makes Perfect!</p>
        </div>
        <p class="text-grey800 py-2 px-4">
          Di setiap pertemuan, kamu akan dilatih baik secara teori hingga
          praktik dengan bimbingan mentor selama kelas berlangsung.
        </p>
      </div>
    </div>
  </div>
</div>
