---
---

<div class="flex flex-col gap-10" id="method">
  <div class="flex flex-col gap-5">
    <p class="font-bold text-base md:text-xl text-primary">Metode Belajar</p>
    <p class="font-bold text-2xl md:text-[34px] text-black">
      Bagaimana Belajar di Bootcamp Dibimbing.id?
    </p>
    <p class="text-grey800">
      Kami sangat mengutamakan kenyamanan peserta dalam belajar baik ketika sesi
      kelas berlangsung atau belajar mandiri di luar jam kelas.
    </p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
      <div class="flex flex-col gap-2">
        <div class="pt-2 pb-1 px-2 bg-primary rounded-lg self-start">
          <box-icon name="chalkboard" color="white" size="16px"></box-icon>
        </div>
        <p class="text-xl font-bold text-grey800">
          Kelas Online di Akhir Pekan
        </p>
        <p class="text-grey800">
          Peserta akan belajar di hari Sabtu dan Minggu selama 2-3 jam per sesi
          menggunakan aplikasi Zoom.
        </p>
      </div>
      <div class="flex flex-col gap-2">
        <div class="pt-2 pb-1 px-2 bg-primary rounded-lg self-start">
          <box-icon name="clipboard" color="white" size="16px"></box-icon>
        </div>
        <p class="text-xl font-bold text-grey800">Pretest & Post Test</p>
        <p class="text-grey800">
          Peserta akan diuji dengan pretest & post test untuk mengukur pemahaman
          terkait materi yang telah dipelajari.
        </p>
      </div>
    </div>
  </div>
</div>
