---
---

<div>
  <section class="bg-primary900 hidden md:block">
    <div class="max-w-[1035px] py-10 mx-auto">
      <div class="flex items-center gap-[60px]">
        <div class="p-5 flex items-center gap-3 border-r-[5px] border-primary">
          <p class="text-white heading-3-extrabold">30.000+</p>
          <p class="text-primary100 subtitle-1-regular">Digital Learners</p>
        </div>
        <div class="p-5 flex items-center gap-3">
          <p class="text-white heading-3-extrabold">89%</p>
          <p class="text-primary100 subtitle-1-regular">Students Dapat Kerja</p>
        </div>
        <div class="p-5 flex items-center gap-3 border-l-[5px] border-primary">
          <p class="text-white heading-3-extrabold">570+</p>
          <p class="text-primary100 subtitle-1-regular">Hiring Partners</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary900 block md:hidden">
    <div class="pt-6 pb-6 px-5 mx-auto">
      <div class="flex items-center gap-[16px]">
        <div class="py-1 px-2 flex flex-col items-center gap-3 border-r-[5px] border-primary">
          <p class="text-white subtitle-2-bold">30.000+</p>
          <p class="text-primary100 caption-regular text-center">Digital Learners</p>
        </div>
        <div class="py-1 px-2 flex flex-col items-center gap-3">
          <p class="text-white subtitle-2-bold">89%</p>
          <p class="text-primary100 caption-regular text-center">Students Dapat Kerja</p>
        </div>
        <div class="py-1 px-2 flex flex-col items-center gap-3 border-l-[5px] border-primary">
          <p class="text-white subtitle-2-bold">570+</p>
          <p class="text-primary100 caption-regular text-center">Hiring Partners</p>
        </div>
      </div>
    </div>
    
  </section>
</div>
