---
---

<div
  class="h-[200px] md:h-[300px] bg-[url(https://dibimbing.id/_next/image?url=https%3A%2F%2Fdibimbing-cdn.sgp1.cdn.digitaloceanspaces.com%2F1655480884077-10-Skill-yang-Harus-Dimiliki-Front-End-Developer.jpg.webp&w=384&q=75)] bg-no-repeat bg-cover rounded-2xl"
>
  <div
    class="flex flex-row items-end h-[200px] md:h-[300px] bg-benefit-card rounded-2xl p-4 justify-end"
  >
    <div class="flex flex-col gap-4">
      <p class="text-white font-bold">UX Designer</p>
      <p class="text-white text-xl font-bold">20 - 50 Juta Rupiah/tahun</p>
    </div>
  </div>
</div>

<style>
  .bg-benefit-card {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 76.48%
    );
  }
</style>
